{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
<header style="margin-top: 20px">
    <p class="h1" style="text-align: center;">   Recommand user to business / Predict protential rating stars by user review
    </p>
    <hr>
</header>
<div class="container">
    <table class="table table-borderless mx-auto">
        <thead class="border-bottom font-weight-bold">
            <tr>
                <td>
                    FULL NAME
                </td>
                <td>
                    MOBILE
                </td>
                <td>
                    POSITION
                </td>
            </tr>

        </thead>
        <tbody>
            {% for employee in employee_list %}
                <tr>
                    <td>{{employee.fullname}}</td>
                    <td>{{employee.mobile}}</td>
                    <td>{{employee.position}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock content %}