{% extends 'base.html'%}
<!--{% load crispy_forms_tags %}-->
{% load static %}
{% block content %}
<header style="margin-top: 20px">
    <p class="h1" style="text-align: center;">   Feature Importance visualization
    </p>
    <hr>
</header>
<div class="container">
    <div class="row mx-md-n5"></div>
    <iframe src="{% static 'pages/delay_dewpt_arrival.html'%}" height=500 width=500 title="Iframe Example"></iframe>
    <iframe src="{% static 'pages/delay_ghi_departure.html'%}" height=500 width=500 title="Iframe"></iframe>
    <div class="row justify-content-center">
        <iframe src="{% static 'pages/status_clouds_departure.html'%}" height=500 width=600 title="Iframe Example"></iframe>
    </div>
    <div class="row justify-content-center">
        <iframe src="{% static 'pages/status_min_temp_departure.html'%}" height=500 width=600 title="Iframe Example"></iframe>
    </div>

</div>


{% endblock content %}