{% extends 'base.html'%}
{% load static %}
{% block content %}
<header style="margin-top: 20px">
    <p class="h1" style="text-align: center;">  Density Bubble Heat Map / Relation Map
    </p>
    <hr>
</header>
<div class="container">
    <div class="row">
        <img src="{% static 'img/10mostDeparture.jpg'%}" alt="Girl in a jacket" width="1000" height="500">
    </div>
    <div class="row">
        <img src="{% static 'img/departure.jpg'%}" alt="Girl in a jacket" width="1000" height="500">
    </div>
    <div class="row">
        <img src="{% static 'img/10mostArrival.jpg'%}" alt="Girl in a jacket" width="1000" height="500">
    </div>
    <div class="row">
        <img src="{% static 'img/arrival.jpg'%}" alt="Girl in a jacket" width="1000" height="500">
    </div>
    <div class="row">
        <img src="{% static 'img/relation.jpg'%}" alt="Girl in a jacket" width="1000" height="500">
    </div>
</div>


{% endblock content %}